.blogsSection {
  @apply pb-10 md:pb-16 lg:pb-20;
}
.items {
  @apply flex flex-wrap h-full w-full justify-center;
}
.sliderShow {
  scroll-snap-type: inline mandatory;
  inline-size: auto;
  @apply gap-[2%] scroll-smooth w-11/12 sm:w-4/5 grid overflow-x-scroll grid-flow-col pb-8;
}

.sliderShow::-webkit-scrollbar {
  @apply hidden;
}

.items img {
  @apply w-full duration-300 transition-all ease-in-out object-contain;
  &:hover {
    transform: scale(1.1);
    @apply duration-300;
  }
}
