.blogsSection {
  @apply pb-10 md:pb-[60px] lg:pb-[80px];
}
.items {
  @apply flex flex-wrap h-full w-full justify-center;
}
.sliderShow {
  scroll-behavior: smooth;
  scroll-snap-type: inline mandatory;
  inline-size: auto;
  @apply w-[90%] md:w-[85%] sm:w-[80%] gap-[2%] grid overflow-x-scroll grid-flow-col pb-8;
}

.sliderShow::-webkit-scrollbar {
  display: none;
}

.items img {
  @apply w-full duration-300 transition-all ease-in-out;
  &:hover {
    transform: scale(1.1);
    @apply duration-300;
  }
}

// .items img {
//   @apply duration-500 ease-in-out w-full overflow-auto;
//   &:hover,
//   &:focus {
//     @apply transform scale-110 duration-500 ease-in-out;
//   }
// }
.imgStyle {
  @apply h-[44%];
}
.custom {
  @apply overflow-hidden flex;
}



