{
  "presets": ["@babel/preset-env", "next/babel"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-nullish-coalescing-operator",
    "inline-react-svg"
  ]
}
