.textCenter {
  @apply text-center;
}
.projectDesc {
  @apply flex flex-col md:flex-row gap-8 pb-24;
  & .imgDiv {
    scroll-behavior: smooth;
    scroll-snap-type: inline mandatory;
    inline-size: auto;
    @apply h-[60vh] flex gap-2 overflow-x-scroll flex-1 md:flex-[1.2] lg:flex-1 mt-16;
    &::-webkit-scrollbar {
      display: none;
    }
    & img {
      scroll-snap-align: start !important;
      @apply h-full w-full object-cover;
    }
  }
  & .desc {
    @apply flex-[2] mt-12;
    & .singleProjectTxt {
      @apply px-4;
      & p {
        @apply font-Poppins text-gray text-lg m-0 mb-4 leading-normal font-normal;
      }
      & a {
        @apply text-lg text-brightBlue leading-8 mr-4 cursor-pointer;
      }
      & h3 {
        @apply text-white text-lg font-semibold lg:font-normal opacity-90 lg:opacity-50 leading-8 pt-2 mb-2 w-full;
      }
    }
  }
}
.link {
  @apply line-clamp-1 md:line-clamp-none;
}
