.textCenter {
  @apply text-center;
}
.projectDesc {
  @apply flex flex-col md:flex-row gap-4 pb-24;
  & .imgDiv {
    scroll-behavior: smooth;
    scroll-snap-type: inline mandatory;
    inline-size: auto;
    @apply flex gap-4 overflow-x-scroll w-full;
    & img {
      scroll-snap-align: start !important;
      @apply h-[60vh] w-full object-cover mt-16;
    }
  }
  & .desc {
    @apply mt-12;
    & .singleProjectTxt {
      @apply px-4;
      & p {
        @apply font-Poppins text-gray text-lg m-0 mb-4 leading-normal font-normal;
      }
      & a {
        @apply text-lg text-brightBlue leading-8 mr-4 cursor-pointer;
      }
      & h3 {
        @apply text-white text-lg font-semibold lg:font-normal opacity-90 lg:opacity-50 leading-8 pt-2 mb-2 w-full;
      }
    }
  }
}
