.singleBlogTxt {
  @apply p-7 block;
  & p {
    font-family: 'Poppins', sans-serif !important;
    @apply text-gray text-lg m-0 mb-4 leading-normal font-normal;
  }
  & a {
    @apply text-lg text-brightBlue leading-8 mr-4 cursor-pointer;
  }
}
.nextContent {
  @apply mt-11 inline-block px-4;
  & .linkSubtitle {
    @apply text-base font-semibold inline-block m-0;
  }
  & .linkTitle {
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    @apply text-xl md:text-4xl opacity-60 font-semibold line-clamp-1 m-0 mt-3;
  }
}

.blogArticle {
  @apply py-8 pl-4 pr-8;
  & .articleCmt {
    @apply m-0 mb-20;
    & .commentReplyTitle {
      @apply text-2xl sm:text-3xl leading-10 font-semibold;
    }
  }
}
