

.singleBlogTxt {
  @apply p-[30px] block;
  & p {
    font-family: 'Poppins', sans-serif !important;
    @apply text-gray text-[18px] m-0 mb-4 leading-normal font-normal;
  }
  & a {
    @apply text-[18px] text-brightBlue leading-8 mr-4 cursor-pointer;
  }
}
.nextContent {
  @apply mt-[45px] inline-block px-[15px];
  & .linkSubtitle {
    @apply text-[16px] font-semibold inline-block m-0;
  }
  & .linkTitle {
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    @apply text-[20px] md:text-[36px] opacity-60 font-semibold line-clamp-1 m-0 mt-3;
  }
}

.blogArticle {
  @apply py-[30px] pl-[15px] pr-[30px];
  & .articleCmt {
    @apply m-0 mb-[90px];
    & .commentReplyTitle {
      @apply text-[26px] sm:text-[30px] leading-10 font-semibold mb-[5vh] mt-[60px];
    }
  }
}
