// Nav bar
.activeLi {
  @apply text-blue-500;
}
header {
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  @apply z-[1000] fixed w-full block;
}
.bgBlack {
  & .fixed-header {
    background: black;
  }
}
.fixed-header {
  box-shadow: 0px 1px 27px -3px rgb(0 0 0 / 100%);
  & .headerContainer {
    @apply px-[30px] md:px-[60px] xl:px-[75px] py-[35px] z-10;
  }
}
.headerContainer {
  @apply p-[30px] lg:p-[75px] md:p-[60px] relative z-20;
}
header .logo {
  font-family: 'Montserrat', sans-serif;
  @apply font-black text-xl lg:text-3xl md:text-2xl uppercase;
}
header .hamburger {
  @apply block lg:hidden float-right w-[26px] h-[26px] relative cursor-pointer;
}

header .hamburger span {
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  @apply bg-white w-full h-[2.4px] absolute left-0;
}
header .open span {
  transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0);
  @apply w-full bg-white h-[2.4px] absolute left-0;
}
header .open #span1 {
  transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, -5);
  width: 100% !important;
}
header .hamburger #span1 {
  @apply bottom-[6px] w-[70%];
}
.menu {
  @apply float-right w-full hidden md:block md:w-auto;
}

@media (max-width: 1023px) {
  .right0 {
    width: 100% !important;
  }

  @mixin all-transition($time) {
    transition: all $time;
    -webkit-transition: all $time;
  }
  .menu {
    transform: translate3d(-130px, 0, 0);
    animation-timing-function: 1s ease-in;
    -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    @include all-transition(0.3s);
    @apply flex font-thin w-0 mt-4 h-full fixed z-[100] right-[-130px];
    & a {
      @apply w-[55%] sm:w-3/5 bg-transparent text-transparent;
    }
    & ul {
      @apply bg-[#000] flex flex-col items-center w-full sm:w-2/5 mt-0 ml-9;
      &:hover,
      :focus {
        @apply bg-[#222];
      }
      & li {
        @apply ml-[30px];
        & a {
          @apply text-[30px] text-white my-4;
        }
      }
      & li:first-child {
        @apply mt-4;
      }
    }
  }
}
ul {
  @apply list-none my-[6px];
}
ul li {
  @apply float-left ml-[45px];
}
.menu ul li a {
  @apply relative inline-block font-medium w-full;
  &::after {
    content: '';
    transition: ease all 0.2s;
    @apply absolute z-10 w-0 left-0 right-0 bottom-0 m-auto h-[1px] bg-white;
  }
  &:hover::after,
  &:focus::after {
    @apply w-full;
  }
}
@media screen and (min-width: 1024px) {
  .menu ul li a {
    @apply text-white text-[18px] pb-[10px];
  }
}
