// Nav bar
.activeLi {
  @apply text-blue-500;
}
header {
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  @apply z-[1000] fixed w-full block;
}
// .bgBlack {
//   @apply bg-black;p
// }
.bgBlack {
  & .fixed-header {
    background: black;
  }
}
.fixed-header {
  box-shadow: 0px 1px 27px -3px rgb(0 0 0 / 100%);
  & .headerContainer {
    @apply px-[30px] md:px-[60px] xl:px-[75px] py-[35px] z-10;
  }
}
.headerContainer {
  @apply p-[30px] lg:p-[75px] md:p-[60px] relative z-20;
}
header .logo {
  font-family: 'Montserrat', sans-serif;
  @apply font-black text-xl lg:text-3xl md:text-2xl uppercase text-white;
}
header .hamburger {
  @apply block lg:hidden float-right w-[26px] h-[26px] relative cursor-pointer;
}

header .hamburger span {
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  @apply bg-white w-full h-[2.4px] absolute left-0;
}
header .open span {
  transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0);
  @apply w-full bg-white h-[2.4px] absolute left-0;
}
header .open #span1 {
  transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, -5);
  width: 100% !important;
}
header .hamburger #span1 {
  @apply bottom-[6px] w-[70%];
}
.menu {
  @apply float-right w-full hidden md:block md:w-auto;
}

@media (max-width: 1023px) {
  .right0 {
    width: 100% !important;
  }
  @mixin vertical-align($position) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  @mixin all-transition($time) {
    transition: all $time;
    -webkit-transition: all $time;
  }
  body {
    margin: 0;
    font-family: 'Muli', sans-serif;
  }
  .menu {
    display: flex;
    font-weight: 100;
    width: 0;
    margin-top: 1rem;
    height: 100%;
    position: fixed;
    z-index: 100;
    transform: translate3d(-130px, 0, 0);
    animation-timing-function: 1s ease-in;
    -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    @include all-transition(0.3s);
    color: #222;
    & a {
      width: 60%;
    }
    & ul {
      background: #efefef;
    }
    .title {
      top: 50%;
      @include vertical-align(absolute);
      transform: rotate(270deg);
      left: 10px;
      font-weight: 800;
      font-size: 15px;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    height: 95vh;
    & ul {
      height: 100%;
      position: sticky;
      top: 0;
      transition: left 0.1s;
      max-height: 100vh;
      overflow: hidden auto;
      overscroll-behavior: auto;
      @apply flex flex-col z-[70] m-0 px-0 py-3 items-center justify-center col-span-4 md:col-span-3;
      & li {
        margin: 16px 0;
        & a {
          font-size: 45px !important;
        }
      }
    }
  }
}
ul {
  @apply list-none my-[6px];
}
ul li {
  @apply float-left ml-[45px];
}
.menu ul li a {
  @apply relative text-white text-[18px] pb-[10px] inline-block font-medium;
  &::after {
    content: '';
    transition: ease all 0.2s;
    @apply absolute z-10 w-0 left-0 right-0 bottom-0 m-auto h-[1px] bg-white;
  }
  &:hover::after,
  :active {
    @apply w-full;
  }
}
