.imgOverlay {
  background-image: url(/image/cover_bg_2.jpg);
  background-position: center center;
  @apply h-screen w-full bg-cover  bg-fixed;
  &::before {
    content: '';
    background: rgba(0, 0, 0, 0.5);
    @apply h-full w-full absolute z-10 left-0 top-0;
  }
}
.separatedTop {
  @apply pt-10 md:pt-16;
}
