.btn-posnawr {
  color: #ea0026;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
  max-width: 250px;
  border-radius: 8px;
  margin: 1rem auto;
  font: normal 18px/60px 'proxima-nova', sans-serif;
  text-align: center;
  text-decoration: none;
  border: 2px solid #ea0026;
}
.btn-posnawr span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;

  border-radius: 50%;
  background-color: #ea0026;
  -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}
.btn-posnawr:hover,
.btn-posnawr:focus {
  color: #fff;
  & span {
    width: 370%;
    height: 21000%;
  }
}
.btn-posnawr:active {
  background-color: #ea0026;
}
