.btn-posnawr {
  border: 2px solid #696969;
  @apply relative block overflow-hidden w-full h-auto max-w-[250px] rounded-lg my-4 mx-auto text-center;
  & button {
    font: normal 18px/60px 'proxima-nova', sans-serif;
    @apply text-[#696969] w-full;
  }
}
.btn-posnawr button span {
  -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  @apply absolute block w-0 h-0 rounded-[50%] bg-[#696969] z-[-1];
}
.btn-posnawr:hover button,
.btn-posnawr:focus button {
  @apply text-[#fff];
  & span {
    @apply w-[370%] h-[21000%];
  }
}
.btn-posnawr:active {
  @apply bg-[#696969];
}
