.btnHover {
  @apply border-2 border-solid max-w-[250px] relative border-darkGray block overflow-hidden w-full h-auto rounded-lg my-4 mx-auto text-center;
  & button {
    font: normal 18px/60px 'proxima-nova', sans-serif;
    @apply text-darkGray w-full;
  }
}
.btnHover button span {
  -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  @apply top-0 left-0 absolute block w-0 h-0 rounded-fiftyPercent bg-darkGray -z-1;
}
.btnHover:hover button,
.btnHover:focus button {
  @apply text-white;
  & span {
    @apply w-[225%] h-[2000rem];
  }
}
.btnHover:active {
  @apply bg-darkGray;
}
