.imgCover {
  background-image: url(/image/1764222.jpg);
  background-position: center center;
  @apply relative bg-cover w-full h-[100vh] bg-fixed;
  &::before {
    content: '';
    background: rgba(0, 0, 0, 0.5);
    @apply h-full w-full absolute z-10 left-0 top-0;
  }
}
.homeContainer {
  @apply h-[100vh] relative z-10 w-full px-[15px] mx-auto;
}
.homeWrap {
  @apply flex flex-wrap mx-[-15px] items-center h-[100vh] justify-center;
}
.homeTxt {
  @apply text-center ml-auto w-full px-[15px];
  & h1 {
    @apply text-[2.5rem] md:text-[5rem] opacity-100 font-black m-0 mb-2;
  }
  & h2 {
    @apply relative overflow-hidden text-[24px] md:text-[33px] leading-8 md:leading-9;
  }
  & br {
    @apply hidden md:block;
  }
}
.mouseWrap {
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  @apply relative flex justify-center left-[50%] bottom-[50px] z-20 cursor-pointer;
}

.mouseWrap:active,
.mouseWrap:active > .mouseLabel,
.mouseWrap:focus,
.mouseWrap:focus > .mouseLabel {
  @apply outline-none;
}

.mouseWrap .mouseLabel {
  @apply top-0 text-white uppercase tracking-wider font-bold text-[10px];
}

.mouseWrap .mouse {
  border: 2px solid #fff;
  -webkit-animation: intro 2s;
  animation: intro 2s;
  @apply absolute w-[22px] h-[42px] bottom-[30px] block left-[50%] ml-[-12px] rounded-[15px];
}

.mouseWrap .mouse .scroll {
  -webkit-animation: finger 2s infinite;
  animation: finger 2s infinite;
  @apply block w-[3px] h-[3px] my-[6px] mx-auto bg-white rounded;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes intro {
  0% {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    @apply opacity-0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    @apply opacity-100;
  }
}

@keyframes intro {
  0% {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    @apply opacity-0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    @apply opacity-100;
  }
}

@-webkit-keyframes finger {
  0% {
    @apply opacity-100;
  }
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    @apply opacity-0;
  }
}

@keyframes finger {
  0% {
    @apply opacity-100;
  }
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    @apply opacity-0;
  }
}
