.workImgOverlay {
  background-image: url(/image/my-setup.png);
  background-position: center center;
  @apply h-[100vh] w-full bg-cover bg-fixed;
  &::before {
    content: '';
    background: rgba(0, 0, 0, 0.5);
    @apply h-full w-full absolute z-10 left-0 top-0;
  }
}
