.fullImage {
  @apply w-full relative z-0;
}
.hero {
  @apply text-center font-bold h-[100vh];
}
.fullText {
  @apply absolute h-full w-full text-center text-white z-[1000] top-0 left-0;
}
.fullText .outer {
  @apply h-full w-full table;
}
.inner {
  @apply h-full w-full flex flex-col justify-center;
}
.inner span {
  @apply opacity-60 text-lg font-medium;
}
.inner h1 {
  @apply text-white md:my-[10px] lg:my-[30px] md:text-[43px] lg:text-[75px] font-semibold md:leading-[58px] lg:leading-[34px];
}
.fullImage .imgOverlay {
  background-image: url(/image/cover_bg_2.jpg);
  background-position: center center;
  @apply h-[100vh] w-full bg-cover  bg-fixed;
}
.fullImage .imgOverlay::before {
  content: '';
  background: rgba(0, 0, 0, 0.5);
  @apply h-full w-full absolute z-10 left-0 top-0;
}
.abtWrap {
  @apply flex flex-wrap flex-col xl:flex-row mx-[-15px];
}
.textWidget h3 {
  @apply text-white text-lg font-semibold lg:font-normal opacity-90 lg:opacity-50 leading-[30px] pt-2 mb-2 xl:w-1/6 px-[15px];
}
.textWidget p {
  color: rgb(185, 185, 185);
  @apply text-[20px] leading-8 xl:w-10/12 px-[15px] mt-0;
}
.top100 {
  @apply mt-[100px];
}
.bottom50 {
  @apply mb-[50px];
}
.top50 {
    @apply mt-[50px];
  }
.flexCol {
  @apply flex flex-col  xl:flex-row xl:w-10/12;
}
.flexCol .date {
  @apply text-white text-[15px] font-normal opacity-40 leading-[30px] xl:w-[16%] px-[15px] xl:mt-[26px];
}
.flexCol .expInfo {
  @apply mb-[30px] xl:w-10/12 px-[15px] xl:mt-[5px];
}
.flexCol h2 {
  @apply text-white text-[24px] font-semibold leading-[28px] mb-[10px];
}
.flexCol a {
  @apply text-white text-[20px] font-semibold leading-[28px] mb-[10px] opacity-70 italic;
}
.flexCol p {
  color: rgb(185, 185, 185);
  @apply text-[17px] leading-6 opacity-60 my-4 p-0;
}
.flexRow {
  @apply flex flex-col md:flex-row flex-wrap w-full px-[15px] xl:w-10/12 xl:mt-[26px];
}
.progressWrap {
  @apply mb-[30px] w-full md:w-1/2;
}
.progressWrap h4 {
  @apply text-white opacity-90 text-[20px] mb-[10px] mt-1 leading-6 font-semibold;
}
.progressWrap .progress {
  @apply h-1 md:w-11/12 mt-4 bg-[#1f1f1f] overflow-visible border-0 flex text-xs;
}
.progressWrap .progress .progressBar {
  @apply bg-gray-600 leading-5 relative flex flex-col justify-center;
}
.progress .progressBar span {
  @apply absolute top-[-34px] right-0 text-[#6c757d];
}
.progress .progressBar span::after {
  content: '';
  @apply bg-gray-600 absolute top-[31px] right-0 w-[10px] h-[10px] rounded-[50%];
}

