.separated {
  background-image: url(/image/border.png);
  background-size: auto 6px;
  @apply bg-repeat-x bg-center py-10 md:py-[60px] lg:py-[80px] w-11/12 m-auto;
}
.seperatedWithoutImg {
  @apply py-10 md:py-[60px] lg:py-[80px];
}
.srvContainer {
  @apply w-full sm:w-9/12 md:w-11/12 mx-auto px-[15px];
}
.secDesc {
  @apply md:relative flex justify-center md:mb-12;
  & h1 {
    color: rgba(255, 255, 255, 0.08);
    @apply text-[8em] lg:text-[10em] hidden md:block md:absolute bottom-[-30%] font-bold uppercase leading-6;
  }
}
.srvCol {
  @apply flex flex-wrap flex-col  mx-[-15px] h-full;
}
.cardRow {
  @apply flex flex-row flex-wrap justify-center;
}
.p2 {
  @apply md:p-8 flex justify-center;
  & h2 {
    letter-spacing: 1px;
    @apply text-[2rem] font-light mb-8 md:mb-12;
  }
  & p {
    @apply text-[18px] md:text-[20px] text-gray leading-8 mb-4;
  }
}
.progressWrap {
  @apply mb-[30px] w-full md:w-1/2;
  & h4 {
    @apply text-white opacity-90 text-xl mb-[10px] mt-1 leading-6 font-semibold;
    & a:hover,
    :focus {
      text-decoration: underline !important;
    }
  }
  & .progress {
    @apply h-1 md:w-11/12 mt-4 bg-veryDarkGray overflow-visible border-0 flex text-xs;
    & .progressBar {
      @apply bg-darkGray leading-5 relative flex flex-col justify-center;
      & span {
        @apply absolute top-[-34px] right-0 text-darkGray;
        &::after {
          content: '';
          @apply bg-darkGray absolute top-[31px] right-0 w-[10px] h-[10px] rounded-[50%];
        }
      }
    }
  }
}
.custom {
  @apply overflow-hidden flex;
}

.blogPageContent {
  @apply px-[15px] py-[20px] bg-white h-auto;
  & h3 {
    line-height: 1.2;
    @apply h-12 line-clamp-2 text-[20px] mt-0 text-veryDarkGray font-semibold mb-[15px];
  }
  & p {
    line-height: 1.65;
    @apply text-darkerGray h-[5rem] md:h-[6.9rem] text-[16px] pb-4 md:pb-9 mb-0 border-b border-0 border-gray border-solid line-clamp-3 md:line-clamp-4 font-thin;
  }
  & .blogPageMeta {
    @apply h-auto flex justify-between pt-[15px] md:pt-[20px] lg:pt-[15px];
  }
}
.more {
  @apply text-black border-b border-0 border-solid border-veryDarkGray font-semibold text-[13px];
}
.date {
  @apply float-right text-[13px] text-darkGrayishCyan;
}
.containerCtc {
  @apply w-4/5 ml-[10%];
}
.fullImage {
  @apply w-full relative z-0;
}
.hero {
  @apply text-center font-bold h-[100vh];
}
.fullText {
  @apply absolute h-full w-full text-center z-[1000] top-0 left-0;
  & .outer {
    @apply h-full w-full table;
    & .inner {
      @apply h-full w-full flex flex-col justify-center;
      & span {
        @apply opacity-60 text-lg font-medium;
      }
      & h1 {
        @apply md:my-[10px] lg:my-[30px] md:text-[43px] lg:text-[75px] font-semibold md:leading-[58px] lg:leading-[34px];
      }
    }
  }
}
.abtWrap {
  @apply flex flex-wrap flex-col xl:flex-row mx-[-15px];
}
.mouseWrap {
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  @apply relative flex justify-center left-[50%] bottom-[50px] z-20 cursor-pointer;
}

.mouseWrap:active,
.mouseWrap:active > .mouseLabel,
.mouseWrap:focus,
.mouseWrap:focus > .mouseLabel {
  @apply outline-none;
}

.mouseWrap .mouseLabel {
  @apply top-0 text-white uppercase tracking-wider font-bold text-[10px];
}

.mouseWrap .mouse {
  border: 2px solid #fff;
  -webkit-animation: intro 2s;
  animation: intro 2s;
  @apply absolute w-[22px] h-[42px] bottom-[30px] block left-[50%] ml-[-12px] rounded-[15px];
}

.mouseWrap .mouse .scroll {
  -webkit-animation: finger 2s infinite;
  animation: finger 2s infinite;
  @apply block w-[3px] h-[3px] my-[6px] mx-auto bg-white rounded;
}
@-webkit-keyframes finger {
  0% {
    @apply opacity-100;
  }
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    @apply opacity-0;
  }
}

@keyframes finger {
  0% {
    @apply opacity-100;
  }
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    @apply opacity-0;
  }
}
.textWidget {
  & h3 {
    @apply text-white text-lg font-semibold lg:font-normal opacity-90 lg:opacity-50 leading-[30px] pt-2 mb-2 xl:w-1/6 px-[15px];
  }
  & p {
    @apply text-xl leading-8 text-gray xl:w-10/12 px-[15px] mt-4;
  }
}
.txc {
  @apply text-center;
  & h2 {
    @apply text-[20px] md:text-[25px] lg:text-[27px] xl:text-[34px] leading-[35px] md:leading-[41px] xl:leading-[45px] opacity-70 mb-2 font-semibold px-[15px] md:px-0;
  }
}
@media only screen and (max-width: 768px) {
  .txc h2 br {
    display: none;
  }
}
.singleBlog {
  @apply pt-[18vh];
  & .blogInfo {
    @apply px-[15px] md:px-[30px] pt-[30px] pb-0;
    & .datenauthor {
      & p {
        @apply opacity-70 font-normal inline-block;
      }
      & span {
        @apply ml-[17px] relative;
        &::before {
          content: '-';
          @apply w-1 h-5 absolute opacity-70 top-[1px] -left-3;
        }
        & a {
          @apply font-medium;
        }
      }
    }
    & .blogTitle {
      @apply text-[22px] sm:text-[26px] md:text-[44px] leading-[29px] sm:leading-[37px] md:leading-[58px] font-semibold mt-[11px] m-0 inline-block;
    }
  }
  & .blogImg {
    @apply relative block z-[100] object-center object-cover max-w-full mx-auto my-8;
  }
}
